.scatter {
    height: 600px;
    width: 900px;
    position: relative;
  }

.yearRange {
  width: 900px
}

.input-color {
  position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}